
<!DOCTYPE html>
<html>
<title>Colin Murphy</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
  background-color: #FFDBDB;
  padding-top: 30px;

}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("https://miro.medium.com/max/4800/1*rZ1vDrOBWqISFiNL5OMEbg.jpeg");
  min-height: 100%;
}

.w3-bar .w3-button {
  padding: 16px;
}

h7{
    max-width: 800px;
    margin: auto;
    padding: 1em;
    text-align:center;
}

input[type=file] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  
}
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
</style>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top" style="background-color: #FFDBDB;">
  <div class="w3-bar w3-white w3-card"  id="myNavbar">
	  <a href="https://github.com/poilpy" onclick="w3_close()" class="w3-bar-item w3-button"> <i class="fa fa-github"></i> GitHub</a>
    <!-- Right-sided navbar links -->
    <div class="w3-right w3-hide-small">
      <a href="#about" class="w3-bar-item w3-button"><i class="fa fa-book"></i> ABOUT ME </a>
	    <a href="#program" class="w3-bar-item w3-button"><i class="fa fa-camera-retro"></i> PROJECTS </a>

    </div>
    <!-- Hide right-floated links on small screens and replace them with a menu icon -->
    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</div>

<!-- Sidebar on small screens when clicking the menu icon -->
<nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Close ×</a>
      <a href="#about" class="w3-bar-item w3-button">Summary </a>
      <a href="#program" class="w3-bar-item w3-button"> PROJECTS </a>
</nav>

<!-- Header with full-height image -->
<header class="bgimg-1 w3-display-container "" id="home">
  <div class="w3-display-left w3-text-black" style="padding:48px">
    <span class="w3-jumbo w3-hide-small" style="padding: 10px; border: 2px ridge rgb(0, 0, 0); background-color: #FFDBDB;">Colin Murphy</span><br>
    <p><img src="/static/photos/me.jpg" alt="me_image" style="max-width: 25%; max-height: 30%; border: 2px ridge rgb(0, 0, 0);"></p>
    <p><a href="#about" class="w3-button w3-white w3-padding-large w3-large w3-margin-top w2-opacity w3-hover-opacity-off">Learn more about me!</a></p>
  </div>
  <!-- <div class="w3-display-bottomleft w3-text-grey w3-large" style="padding:24px 48px">
    <i class="fa fa-github w3-hover-opacity"></i> -->
  </div>
</header>

<!-- About Section -->
<div class="w3-container" style="padding:75px 16px" id="about">
  <br>
  <h3 class="w3-center" style="text-decoration: underline;"> About Me </h3>
    <p class="w3-center w3-large"> 
      I'm a computer science graduate from the University of California, Santa Cruz, with interest and experience in machine learning and data science.
    </p>

</div>

<!-- Program Section -->
<div class="w3-container w3-light-grey" style="padding:75px 16px" id="program">
  <h2 class="w3-center" style="text-decoration: underline;">Projects</h3>
    <h4 class="w3-center" style="text-decoration: underline;"> Semantic Image Segmentation and Classifier </h3>
    <p class="w3-center w3-large">
      Semantic image segmentation is the process of using machine learning to identify and label the parts of an image that a user is looking for. 
      Below is a demo of a model which takes in jpg images and creates a segmentation for it just like these examples.

    </p>
    <div class="w3-center">
      <p><img src="/static/photos/ex1.png" alt="ex1_image" style="max-width: 30%; max-height: 30%;"></p>
      
      <p><img src="/static/photos/ex2.png" alt="ex2_image" style="max-width: 30%; max-height: 30%;"></p>
      
      <p><img src="/static/photos/ex3.png" alt="ex3_image" style="max-width: 30%; max-height: 30%;"></p>
    </div>
    <p class="w3-center w3-large"> Another model will also classify your image, telling you in words what it thinks your image is about. </p>

    <h7>
      <p>Segmentation supports: aeroplane, bicycle, bird, boat, bottle, bus, car, cat, chair, cow, diningtable,
          dog, horse, motorbike, person, potted plant, sheep, sofa, train, tv/monitor</p>
      <p> Classification supports: plane, car, bird, cat, deer, dog, frog, horse, ship, truck</p>
    </h7>
  <h7><p><font size="6">Upload your jpg image here</font></p></h7>
  <h7>
		<form method ='post' enctype=multipart/form-data>
			<input type="file" name="file" accept="image/jpeg" required>
      <input type="submit" value="Upload" onclick="myFunction()"><p id="demo"></p>
  </h7>
</div>


<!-- Footer -->
<footer class="w3-center w3-black w3-padding-64">
  <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
  <div class="w3-xlarge w3-section">
	  <a href="https://github.com/poilpy" onclick="w3_close()" class="w3-bar-item w3-button"> <i class="fa fa-github"></i></a>
  </div>
</footer>

<script>
// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}


// Toggle between showing and hiding the sidebar when clicking the menu icon
var mySidebar = document.getElementById("mySidebar");

function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
  } else {
    mySidebar.style.display = 'block';
  }
}

// Close the sidebar with the close button
function w3_close() {
    mySidebar.style.display = "none";
}

function myFunction() {
  document.getElementById("demo").innerHTML = "Loading... <i class='fa fa-telegram' aria-hidden='true'></i>";
}
</script>

</body>
</html>





	